* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Belleza', sans-serif;
    font-weight: bolder;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #001300;
    animation: change 5s linear infinite;
}

@keyframes change {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

section .loader {
    position: relative;
    display: flex;
}

section .loader .dot {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px #00ff22, 0 0 10px #00ff22, 0 0 10px #00ff22, 0 0 10px #00ff22, 0 0 10px #00ff22, 0 0 10px #00ff22;
    background-color: #00ff22;
    margin: 20px 10px;
    transform: scale(0.1);
    animation: dots 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes dots {
    0% {
        transform: scale(0.1);
    }
    10% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(0.1);
    }
}

h3 {
    color: #00ff22;
    letter-spacing: 10px;
    font-weight: 700;
}

section .loader:last-child .dot {
    animation-delay: calc(-0.1s * var(--i));
}

#port {
    display: none;
}

.navbar-brand img {
    border-radius: 50px;
}

.navbar-brand h5 {
    display: inline-block;
    margin-top: 12px;
}

.navbar-nav {
    position: absolute;
    right: 10px;
}

.collapse .navbar-nav .nav-item .nav-link {
    color: #0400ff;
}
.collapse .navbar-nav .nav-item .nav-link:hover {
    color: #1eff00;
}
.dark-mode {
    background-color: #161927;
    color: white;
}

.navbar {
    font-family: 'Montserrat Subrayada', sans-serif;

    border-left: 10px solid #0400ff;
    border-right: 10px solid #0400ff;
}
.collapse .navbar-nav .nav-item .form-check .form-check-input{
height: 23px;
width: 45px;
margin-top: 9px;
border-color: #000;
}
.home_home{
    width: 100%;
    height: 100vh;
}
.hero_photo{
    display: flex;
    float: right;
}
.hero_photo img{
    border-radius:50px;
}
.hero_name{
    padding: 40px;
}
.hero_name h1 {
   width: fit-content;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 1.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    10% { border-color: orange; }
  }